*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#main {
    background-color: red;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}
p{
    font-size: 50px;
    font-weight: 600;
}
body{
    padding: 20px;
    background: cornflowerblue;
}
#survey-form {
    margin: 200px;
}
#description {
    font-size: 25px;
}
label {
    font-size: 40px;
    font-weight: 700;
}
input, textarea {padding: 5px;
font-size: 25px;
border: 1px solid rgba(247, 18, 18, 0.333);}
.name-place, 
.gender-place, 
.email-place,
.phone-place,
.social-place,
.rate-place,
.product-place {margin-bottom: 20px;}
.comment-place {margin-top: 20px;}
.thank {font-size: 50px;}
textarea {}
#submit {font-size: 40px;
    font-weight: 500px;
padding: 10px;
cursor: pointer; 
color: crimson;
border: crimson;}